.vscode/**
.vscode-test/**
src/**
scripts/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
build.js
resources/icon-marketplace.svg
PROJECT_SUMMARY.md
QUICKSTART.md
SHOWCASE.md
TESTING.md
