.vscode/**
.vscode-test/**
.github/**
docs/**
src/**
scripts/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
build.js
resources/icon-marketplace.svg
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
